# App Settings
PROJECT_NAME="Codoric FastAPI E-Commerce Core"
DEBUG=true

# Database (Default: local SQLite async, or switch to PostgreSQL)
DATABASE_URL="sqlite+aiosqlite:///./ecommerce.db"
# DATABASE_URL="postgresql+asyncpg://postgres:postgres@localhost:5432/ecommerce_db"
DATABASE_ECHO=true
